html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.header a:hover {
  text-decoration: underline !important;
}

* {
  box-sizing: border-box;
}

/* Header by hcmus portal */
.header {
  background: #31383e;
  padding: 5px 0;
}

@media handheld, only screen and (max-width: 600px) .login-style {
  text-align: center;
}
